name: iOS

on:
  push:
    branches:
      - develop
      - main
jobs:
  e2e:
    runs-on: macos-11
    timeout-minutes: 30

    env:
      DEVELOPER_DIR: /Applications/Xcode_12.5.1.app

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 1

    - name: Node
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Cache node modules
      uses: actions/cache@v2
      id: cache
      with:
        path: node_modules
        key: node-modules-${{ hashFiles('**/yarn.lock') }}

    - name: Rebuild detox
      if: steps.cache.outputs.cache-hit == 'true'
      run: yarn detox-setup

    - name: Install Dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: yarn install

    - name: Cache Pods
      uses: actions/cache@v2
      id: podcache
      with:
        path: ios/Pods
        key: pods-${{ hashFiles('**/Podfile.lock') }}

    - name: Update Pods
      run: |
        gem update cocoapods xcodeproj
        cd ios && pod install && cd ..
    - run: brew tap wix/brew
    - run: brew install applesimutils
    - run: yarn e2e:build-ios-ci
    - run: yarn e2e:run-ios-ci